/**
 *  Extra Components
*/

/*----------  Banner  ----------*/
.page-banner {
  position: relative;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  width: 100%;
  height: 540px;
  color: #fff;
  text-align: left;
  overflow: hidden;
}
.page-banner .container {
  height: 100%;
}
.page-banner.homepage-default {
  text-align: center;
  background-position: bottom;
}

/*----------  1.2. Page Title & Button & ...  ----------*/
.group-title {
  margin-bottom: 20px;
  text-align: left;
}
.group-title .sub-title .text {
  color: #6e747c;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0;
}
.group-title .sub-title .icons {
  font-size: 28px;
  color: #c6c6c6;
  margin-left: 60px;
  position: relative;
}
.group-title .sub-title .icons:after {
  position: absolute;
  content: '';
  width: 54px;
  height: 2px;
  background-color: #3498db;
  right: 105%;
  bottom: 7px;
}
.group-title .main-title {
  color: #434a54;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 5px 0 0 0;
}
.group-title.white .sub-title .text,
.group-title.white .sub-title .icons {
  color: #fff;
}
.group-title.white .main-title {
  color: #fff;
}
.title-style-2 {
  margin: 0 0 50px 0;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  position: relative;
  color: #434a54;
  display: inline-block;
}
.title-style-2.white {
  color: #fff;
}
.title-style-2:after {
  position: absolute;
  content: "";
  bottom: 5px;
  right: -57px;
  width: 50px;
  height: 3px;
  background-color: #3498db;
}
.btn {
  width: 170px;
  padding: 6px 20px;
  border: 1px solid #c3c3c3;
  color: #6c6c6c;
  text-transform: uppercase;
  text-align: center;
  border-radius: 50px;
  background-color: transparent;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.btn:hover {
  background-color: #3c3c3c;
  border: 1px solid #3c3c3c;
  color: #fff;
}
.btn.btn-maincolor {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #3c3c3c;
}
.btn.btn-maincolor:hover {
  background-color: #3c3c3c;
  border: 1px solid #3c3c3c;
  color: #fff;
}
.btn.btn-gray {
  background-color: #4d4d4d;
  border: 1px solid #4d4d4d;
  color: #fff;
}
.btn.btn-gray:hover {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #3c3c3c;
}
.btn.btn-fit {
  width: auto;
}
.btn.btn-capitalize {
  text-transform: capitalize;
}
.btn-slide {
  width: 170px;
  height: 34px;
  border: 1px solid #3c3c3c;
  background-color: #3c3c3c;
  border-radius: 50px;
  padding: 0 0 0 15px;
  position: relative;
  text-align: center;
  color: #3498db;
  text-transform: uppercase;
  font-size: 13px;
  display: inline-block;
}
.btn-slide .text {
  color: #3498db;
  font-style: inherit;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.btn-slide .icons {
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  padding: 9px;
  border-radius: 50%;
  text-align: center;
  color: #3498db;
  background-color: #505050;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.btn-slide:before {
  position: absolute;
  left: 0;
  padding-right: 15px;
  width: 100%;
  content: attr(data-hover);
  color: #3498db;
  opacity: 0;
  text-align: center;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.btn-slide:hover .text {
  opacity: 0;
}
.btn-slide:hover .icons {
  left: calc(100% - 32px);
  left: -webkit-calc(100% - 32px);
  left: -moz-calc(100% - 32px);
}
.btn-slide:hover:before {
  opacity: 1;
}
#back-top .link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 2px solid #3498db;
  background-color: transparent;
  width: 40px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  z-index: 100;
  color: #3498db;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
#back-top .link.show-btn {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
#back-top .link:hover {
  background-color: #3498db;
  border: 2px solid #000;
  color: #000;
  transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -o-transform: translateY(-15px);
}
.group-button .btn:first-child {
  margin-right: 15px;
}
.tag {
  color: #989898;
  border: 1px solid #efefef;
  border-radius: 50px;
  padding: 0 10px 0 25px;
  line-height: 25px;
  display: inline-block;
  text-transform: capitalize;
  position: relative;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.tag:before {
  position: absolute;
  content: "\f1db";
  font-family: FontAwesome;
  left: 10px;
  font-size: 7px;
}
.tag:hover {
  border: 1px solid #555e69;
  color: #555e69;
}
.tag:hover:before {
  content: "\f111";
  color: #555e69;
}
.pagination-list {
  text-align: center;
}
.pagination {
  margin: 0;
}
.pagination li .btn-pagination {
  border: none;
  color: #b3b3b3;
  text-align: center;
  background-color: transparent;
  position: relative;
}
.pagination li .btn-pagination.active {
  color: #434a54;
  pointer-events: none;
}
.pagination li .btn-pagination.active:after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 20px;
  height: 1px;
  left: 50%;
  margin-left: -10px;
  background-color: #434a54;
}
.pagination li .btn-pagination:after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 0;
  height: 1px;
  left: 50%;
  margin-left: -10px;
  background-color: #434a54;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.pagination li .btn-pagination:hover {
  background-color: transparent;
  color: #434a54;
}
.pagination li .btn-pagination:hover:after {
  width: 20px;
}
.pagination li .previous,
.pagination li .next {
  width: 32px;
  height: 32px;
  line-height: 30px;
  padding: 0;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border: 1px solid #b3b3b3;
}
.pagination li .previous:after,
.pagination li .next:after {
  display: none;
}
.pagination li .previous:hover,
.pagination li .next:hover {
  background-color: #434a54;
  color: #fff;
  border: 1px solid #434a54;
}
.pagination li .previous {
  margin-right: 10px;
}
.label-sale {
  position: absolute;
  z-index: 10;
  top: 15px;
  left: 15px;
  height: 34px;
  text-align: center;
  padding: 5px 15px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}
.label-sale .text,
.label-sale .number {
  font-weight: 500;
  margin-bottom: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.label-sale:hover .text,
.label-sale:hover .number {
  transform: translateY(-24px);
  -webkit-transform: translateY(-24px);
  -moz-transform: translateY(-24px);
  -ms-transform: translateY(-24px);
  -o-transform: translateY(-24px);
}
.small-margin-top {
  margin-top: 30px;
}
.medium-margin-top {
  margin-top: 50px;
}
.big-margin-top {
  margin-top: 70px;
}
.fa-custom:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.stretch {
  width: 100%;
  display: inline-block;
  height: 0;
}
.meta-info {
  font-style: italic;
  color: #81878f;
}
.meta-info .comment-count:before,
.meta-info .view-count:before {
  margin-right: 4px;
}
.meta-info .comment-count:before {
  content: '\f075';
}
.meta-info .view-count {
  margin-right: 10px;
}
.meta-info .view-count:before {
  content: '\f007';
}
.meta-info .sep {
  font-style: normal;
  margin: 0 10px;
}
.wrapper-contact-style {
  float: left;
  width: 100%;
  position: relative;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 0;
  border-radius: 0px !important;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:active,
.form-control:focus {
  box-shadow: none;
}

.homepage-banner-warpper {
  display: table;
  width: 100%;
  height: 100%;
}
.homepage-banner-warpper .homepage-banner-content {
  display: table-cell;
  vertical-align: middle;
}
.mozilla5 .homepage-default .group-title .title,
.safari .homepage-default .group-title .title {
  background: linear-gradient(to right, #ffffff 0%, #ffffff 15%, #ffffff 35%, #ffffff 50%, #ffffff 85%, #3498db 90%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: color-text 5s infinite;
}
.homepage-default .group-title {
  display: inline-block;
  padding-top: 50px;
}
.homepage-default .group-title .title {
  font-size: 100px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 900;
  color: #fff;
}
.homepage-default .group-title .text {
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
  letter-spacing: 1px;
  display: inline-block;
}
.homepage-default .group-title .text .boder {
  border-bottom: 1px solid #fff;
  display: inline-block;
}
.homepage-default .group-btn {
  margin-top: 50px;
  display: inline-block;
  width: 100%;
}
.homepage-default .group-btn .btn-click {
  width: 220px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border-radius: 50px;
  padding: 5px 0 5px 15px;
  position: relative;
  text-align: center;
  color: #3498db;
  text-transform: uppercase;
  font-size: 13px;
  display: inline-block;
}
.homepage-default .group-btn .btn-click .text {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.homepage-default .group-btn .btn-click .icons {
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  padding: 9px 10px;
  border-radius: 50%;
  text-align: center;
  color: #fd0;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.homepage-default .group-btn .btn-click:before {
  position: absolute;
  left: 75px;
  content: attr(data-hover);
  opacity: 0;
  text-align: center;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.homepage-default .group-btn .btn-click:hover .text {
  opacity: 0;
}
.homepage-default .group-btn .btn-click:hover .icons {
  left: 184px;
  background-color: #ffffff;
}
.homepage-default .group-btn .btn-click:hover:before {
  opacity: 1;
}

/*----------  Videos ----------*/

.videos {
  position: relative;
  background-repeat: repeat;
  background-position: bottom;
  background-size: cover;
  -webkit-background-size: cover;
  width: 100%;
  color: #fff;
  background-color: #2d3948;
}
.videos .video-thumbnail {
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}
.videos .show-video {
  opacity: 1 !important;
  visibility: visible !important;
}
.video-thumbnail {
  position: relative;
  width: 100%;
  height: 360px;
  z-index: 1;
}
.video-thumbnail .video-bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 5;
}
.video-thumbnail .video-bg img {
  width: 100%;
  height: 100%;
}
.video-thumbnail .video-button-play {
  color: #fff;
  z-index: 6;
  position: absolute;
  text-align: center;
  line-height: 86px;
  padding-left: 10px;
  font-size: 36px;
  width: 90px;
  height: 90px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  left: 50%;
  top: 50%;
  margin-top: -45px;
  margin-left: -45px;
  border-radius: 50%;
  padding-left: 6px;
  cursor: pointer;
}
.video-thumbnail .video-button-close {
  position: absolute;
  z-index: 12;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url("../images/homepage/btn-closevideo.png");
  opacity: 0;
  visibility: hidden;
}
.video-thumbnail .video-embed {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.videos.layout-1 .video-wrapper {
  text-align: left;
}
.videos.layout-1 .sub-title {
  margin: 0 0 8px 0;
  padding-bottom: 5px;
  font-size: 18px;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}
.videos.layout-1 .sub-title strong {
  font-size: 24px;
}
.videos.layout-1 .title {
  margin: 0 0 15px 0;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 55px;
}
.videos.layout-1 .text {
  margin-bottom: 30px;
}
.videos.layout-1 .video-thumbnail {
  bottom: -120px;
  top: auto;
}
.videos.layout-2 .video-thumbnail {
  height: 420px;
}
.videos.layout-2 .video-wrapper {
  text-align: center;
}
.videos.layout-2 .title {
  font-size: 36px;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}
.videos.layout-2 .text {
  margin: 0 23% 20px 23%;
}
.videos.layout-2 .video-thumbnail {
  top: 30px;
}

/*----------  Animation  ----------*/

@keyframes hover {
  50% {
    -moz-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -moz-transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hover-shadow {
  0% {
    -moz-transform: translateY(6px);
    -webkit-transform: translateY(6px);
    -o-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
  50% {
    -moz-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -o-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }
  100% {
    -moz-transform: translateY(6px);
    -webkit-transform: translateY(6px);
    -o-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

/*----------  jQuery Datepicker  ----------*/
.datepicker {
  z-index: 100 !important;
}
.datepicker .table-condensed {
  table-layout: fixed;
}
.datepicker thead {
  border-bottom: 1px solid #d8dce2;
}
.datepicker thead .dow {
  text-transform: uppercase;
  color: #77858e;
  width: calc(14.28571429%);
  width: -webkit-(14.28571429%);
}
.datepicker thead .datepicker-switch {
  color: #727272;
  font-size: 1.29rem;
  font-weight: 500;
  cursor: default;
}
.datepicker thead .datepicker-switch:hover {
  background-color: transparent;
}
.datepicker thead .next,
.datepicker thead .prev {
  position: relative;
  color: transparent;
}
.datepicker thead .next:hover,
.datepicker thead .prev:hover {
  background-color: transparent;
}
.datepicker thead .next:hover:before,
.datepicker thead .prev:hover:before {
  background-color: #3498db;
}
.datepicker thead .next:before,
.datepicker thead .prev:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  position: absolute;
  background-color: #e9ebef;
  text-align: center;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  top: 50%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.datepicker thead .prev:before {
  content: '\f104';
  right: 50%;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
}
.datepicker thead .next:before {
  content: '\f105';
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.datepicker tbody tr {
  line-height: 30px;
}
.datepicker tbody td.day {
  position: relative;
  color: #77858e;
}
.datepicker tbody td.day.new,
.datepicker tbody td.day.old {
  color: #dadada;
}
.datepicker tbody td.day:hover {
  background: none !important;
}
.datepicker tbody td.day:hover:before {
  background-color: #efefef;
}
.datepicker tbody td.day:before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  transform: translate(-50%, -52%);
  -webkit-transform: translate(-50%, -52%);
  -moz-transform: translate(-50%, -52%);
  -ms-transform: translate(-50%, -52%);
  -o-transform: translate(-50%, -52%);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.datepicker tbody td.day.active,
.datepicker tbody td.day.range,
.datepicker tbody td.day.range-end,
.datepicker tbody td.day.range-start {
  background-color: transparent !important;
  background-image: none !important;
  text-shadow: none !important;
  color: #fff;
}
.datepicker tbody td.day.active:before,
.datepicker tbody td.day.range-end:before,
.datepicker tbody td.day.range-start:before {
  background-color: #3498db;
}
.datepicker tbody td.day.range:before {
  background-color: #eee;
}

.sbHolder .sbToggle {
  background-position: 0 -45px;
}
.sbHolder .sbOptions {
  background-color: #fafafa;
}
.title-style-2 span {
  color: #3498db;
}
