/**
 *   Helper styling
 */

/*----------   Find     ---------*/
.find-widget {
  background-color: #ffdd00;
  padding: 40px 30px;
  text-align: center;
  color: #545454;
}
.find-widget .title-widgets {
  font-size: 1.43rem;
  text-transform: uppercase;
  color: #3c3c3c;
  font-weight: bold;
  margin: 0 0 30px;
  background-color: transparent;
  border-bottom: none;
}
.find-widget .text-input {
  position: relative;
}
.find-widget .text-input:after {
  content: '';
  display: table;
  clear: both;
}
.find-widget .submit-btn-wrapper {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 170px;
  height: 38px;
  line-height: 38px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background-color: #3c3c3c;
  margin-bottom: 0;
  cursor: pointer;
}
.find-widget .submit-btn-wrapper .submit-btn {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border: none;
  padding: 0;
  margin-left: 2px;
  margin-right: 10px;
  background-color: #505050;
  color: #ffdd00;
  font-size: 14px;
}
.find-widget .submit-btn-wrapper .text {
  color: #ffdd00;
  font-size: .93rem;
}
.find-widget .text-input > .text-box-wrapper:first-child {
  margin-top: 0;
}
.find-widget .input-daterange {
  float: left;
}
.find-widget .text-box-wrapper {
  text-align: left;
  margin-top: 20px;
  float: left;
  vertical-align: bottom;
}
.find-widget .text-box-wrapper > .text-box-wrapper {
  margin-top: 0;
}
.find-widget .text-box-wrapper .input-group {
  width: 100%;
  background-color: #fff;
  display: inline-block;
  position: relative;
}
.find-widget .text-box-wrapper .tb-label {
  font-weight: normal;
}
.find-widget .text-box-wrapper .tb-input {
  padding: 0 1em;
  height: 35px;
  line-height: 35px;
  background-color: transparent;
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 0;
  border: none;
  text-align: left;
}
.find-widget .text-box-wrapper .tb-input.count {
  text-align: center;
}
.find-widget .text-box-wrapper.half {
  display: inline-block;
  width: calc((100% - 8px) / 2);
  width: -webkit-calc((100% - 8px) / 2);
  width: -moz-calc((100% - 8px) / 2);
}
.find-widget .text-box-wrapper.half.left {
  margin-right: 4px;
}
.find-widget .text-box-wrapper.half.right {
  margin-left: 4px;
}
.find-widget .text-box-wrapper .tb-icon {
  background-color: transparent;
  border: none;
  color: #bebebe;
  height: 35px;
  line-height: 35px;
  position: absolute;
  padding: 0;
  width: 14px;
  top: 0;
  right: 14px;
}
.find-widget .text-box-wrapper .input-group-btn {
  border: none;
  background-color: #fff;
  width: 40px;
  height: 35px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
  font-size: 14px;
}
.find-widget .text-box-wrapper .input-group-btn.btn-minus {
  left: 0;
}
.find-widget .text-box-wrapper .input-group-btn.btn-plus {
  right: 0;
}
.find-widget .ffw-radio-selection {
  text-align: justify;
  line-height: 0;
  margin: 0 auto;
}
.find-widget .ffw-radio-selection span.ffw-radio-btn-wrapper {
  height: 1em;
  line-height: 1em;
}
.find-widget .ffw-radio-selection span.ffw-radio-btn-wrapper .ffw-radio-btn {
  display: none;
}
.find-widget .ffw-radio-selection span.ffw-radio-btn-wrapper .ffw-radio-btn ~ .ffw-radio-label:before {
  font-family: FontAwesome;
  content: '\f10c';
  margin-right: 6px;
  overflow: visible;
}
.find-widget .ffw-radio-selection span.ffw-radio-btn-wrapper .ffw-radio-btn:checked ~ .ffw-radio-label:before {
  font-family: FontAwesome;
  content: '\f192';
}
.find-widget .ffw-radio-selection span.ffw-radio-btn-wrapper .ffw-radio-label {
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  font-weight: normal;
}
.find-widget .select-wrapper {
  position: relative;
  background-color: #fff;
}
.find-widget .select-wrapper i.fa {
  color: #bebebe;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
.find-widget .sbHolder {
  border: none;
  height: 35px;
  line-height: 35px;
}
.find-widget .sbHolder .sbOptions {
  left: 0;
  right: 0;
  border: none;
}
.find-widget .sbHolder .sbDisabled,
.find-widget .sbHolder .sbSelector,
.find-widget .sbHolder a {
  padding: 0;
  height: 35px;
  line-height: 35px;
}
.find-widget .sbHolder .sbDisabled {
  border-bottom: none;
}
.find-widget .select-wrapper .sbHolder .sbToggle {
  background-position: 0 -42px;
}
.find-widget .form-control {
  position: relative;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 35px;
}
.tab-search-long .text-box-wrapper {
  display: inline-block;
  margin-top: 0;
}
.tab-search-long .input-daterange {
  display: inline-block;
  vertical-align: bottom;
}
.tab-search-long .ffw-radio-selection {
  width: 350px;
}
.tab-search-long .place {
  width: calc((100% - 54px) * 32 / 100);
  width: -webkit-calc((100% - 54px) * 32 / 100);
  width: -moz-calc((100% - 54px) * 32 / 100);
  margin-right: 8px;
}
.tab-search-long .input-daterange {
  width: calc((100% - 54px) * 36 / 100);
  width: -webkit-calc((100% - 54px) * 36 / 100);
  width: -moz-calc((100% - 54px) * 36 / 100);
  margin-right: 8px;
}
.tab-search-long .input-daterange .half {
  width: calc((100% - 8px) / 2);
  width: -webkit-calc((100% - 8px) / 2);
  width: -moz-calc((100% - 8px) / 2);
}
.tab-search-long .input-daterange .half:first-child {
  margin-right: 8px;
}
.tab-search-long .count {
  width: calc((100% - 54px) * 8 / 100);
  width: -webkit-calc((100% - 54px) * 8 / 100);
  width: -moz-calc((100% - 54px) * 8 / 100);
}
.tab-search-long .adult-count {
  margin-right: 8px;
}
.tab-search-long button[type="submit"] {
  position: absolute;
  width: calc((100% - 54px) * 16 / 100);
  width: -webkit-calc((100% - 54px) * 16 / 100);
  width: -moz-calc((100% - 54px) * 16 / 100);
  padding: 0 0 0 25px;
  vertical-align: bottom;
  right: 0;
  bottom: 0;
}
.tab-search-long .find-cruises-widget .count,
.tab-search-long .find-tours-widget .count,
.tab-search-long .find-main-widget .count {
  width: calc((100% - 54px) * 8 / 100);
  width: -webkit-calc((100% - 54px) * 8 / 100);
  width: -moz-calc((100% - 54px) * 8 / 100);
}
.tab-search-long .find-cruises-widget button[type="submit"],
.tab-search-long .find-tours-widget button[type="submit"],
.tab-search-long .find-main-widget button[type="submit"] {
  width: calc((100% - 54px) * 16 / 100);
  width: -webkit-calc((100% - 54px) * 16 / 100);
  width: -moz-calc((100% - 54px) * 16 / 100);
  padding: 0 0 0 25px;
}
.tab-search-long .find-cruises-widget .place,
.tab-search-long .find-cruises-widget .time-count,
.tab-search-long .find-tours-widget .date,
.tab-search-long .find-tours-widget .place,
.tab-search-long .find-main-widget .date,
.tab-search-long .find-main-widget .place {
  width: calc((100% - 54px) * 34 / 100);
  width: -webkit-calc((100% - 54px) * 34 / 100);
  width: -moz-calc((100% - 54px) * 34 / 100);
  margin-right: 8px;
}
.tab-search-long .find-car-widget .input-daterange,
.tab-search-long .find-car-widget .place {
  width: calc((100% - 46px) * 38 / 100);
  width: -webkit-calc((100% - 46px) * 38 / 100);
  width: -moz-calc((100% - 46px) * 38 / 100);
  margin-right: 8px;
}
.tab-search-long .find-car-widget .car-count {
  width: calc((100% - 46px) * 8 / 100);
  width: -webkit-calc((100% - 46px) * 8 / 100);
  width: -moz-calc((100% - 46px) * 8 / 100);
}
.tab-search-default .find-widget {
  padding: 40px 0;
}
.tab-search-transparent .find-widget {
  padding: 50px 70px;
  background-color: rgba(255, 255, 255, 0.5);
}
.tab-search-condensed {
  position: relative;
  z-index: 1;
  background-color: #ffdd00;
}
.tab-search-condensed .find-widget {
  padding: 40px 70px;
}
.tab-search-condensed .ffw-radio-selection {
  width: 85%;
}
.tab-search-condensed .text-box-wrapper.half.to {
  margin-top: 0;
}
.tab-search-condensed .input-daterange {
  width: 100%;
}
.tab-search-condensed .text-box-wrapper .tb-icon {
  right: auto;
  left: 14px;
}
.tab-search-condensed .text-box-wrapper .tb-input {
  padding-left: 40px;
}
.tab-search-condensed .text-box-wrapper .tb-input.count {
  padding: 0 1em;
}
.tab-search-condensed .select-wrapper i.fa {
  left: 12px;
}

/*------------    Search    -----------*/
.search-widget .search-wrapper {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}
.search-widget .search-wrapper .search-input {
  width: inherit;
  height: 40px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  padding-left: 18px;
  padding-right: 0;
  color: #adadad;
  font-family: Helvetica, Arial, sans-serif;
}
.search-widget .search-wrapper .search-input::-webkit-input-placeholder {
  color: #d8d8d8;
}
.search-widget .search-wrapper .search-input:-moz-placeholder,
.search-widget .search-wrapper .search-input::-moz-placeholder {
  color: #d8d8d8;
}
.search-widget .search-wrapper .search-input:-ms-placeholder {
  color: #d8d8d8;
}
.search-widget .search-wrapper .submit-btn {
  color: #adadad;
  background-color: transparent;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  height: 40px;
  width: 40px;
  border: none;
  padding: 0;
  margin-right: 6px;
}
.search-widget .search-wrapper .submit-btn:active {
  box-shadow: none;
}

/*------------    Check boxes    -----------*/
.radio-selection {
  margin-top: 30px;
}
.radio-selection:first-child {
  margin-top: 0;
}
.radio-selection label.group {
  margin-bottom: 0;
  font-weight: normal;
  color: #585858;
}
.radio-selection .radio-btn-wrapper {
  margin-top: 15px;
  position: relative;
}
.radio-selection .radio-btn-wrapper .radio-btn {
  display: none;
}
.radio-selection .radio-btn-wrapper .radio-btn:checked ~ label.radio-label:before {
  content: '\f00c';
}
.radio-selection .radio-btn-wrapper .radio-label {
  color: #6e747c;
  position: relative;
  font-weight: normal;
  padding-left: 34px;
  margin-bottom: 0;
  width: 100%;
  cursor: pointer;
}
.radio-selection .radio-btn-wrapper .radio-label:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  left: 0;
  height: 16px;
  line-height: 16px;
  font-size: 1rem;
  width: 16px;
  color: #6e747c;
  font-family: FontAwesome;
  font-weight: normal;
  display: inline-block;
  border: 1px solid #d3d3d3;
  text-indent: 0;
}
.radio-selection .radio-btn-wrapper .count {
  float: none;
  position: absolute;
  right: 0;
  top: 0;
  color: #6e747c;
}
.radio-selection .radio-btn-wrapper:first-child {
  margin-top: 0;
}
.radio-selection .radio-btn-wrapper:after {
  content: '';
  display: table;
  clear: both;
}


/*---------- Tab search  ---------- */
.tab-search .nav-tabs {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  border: none;
}
.tab-search .tab-btn-wrapper {
  width: calc((100% - 5px) / 6);
  width: -webkit-calc((100% - 5px) / 6);
  width: -moz-calc((100% - 5px) / 6);
  margin-right: 1px;
  margin-bottom: 0;
}
.tab-search .tab-btn-wrapper .tab-btn {
  display: block;
  margin-right: 0;
  text-align: center;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
  text-transform: uppercase;
  padding: 0;
  height: 50px;
  line-height: 50px;
  color: #505050;
  font-weight: 500;
  font-size: .86rem;
}
.tab-search .tab-btn-wrapper .tab-btn:active,
.tab-search .tab-btn-wrapper .tab-btn:focus,
.tab-search .tab-btn-wrapper .tab-btn:hover {
  border: none;
  background-color: #ffdd00;
}
.tab-search .tab-btn-wrapper .tab-btn:active i,
.tab-search .tab-btn-wrapper .tab-btn:focus i,
.tab-search .tab-btn-wrapper .tab-btn:hover i {
  color: #3c3c3c;
}
.tab-search .tab-btn-wrapper .tab-btn i {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  vertical-align: middle;
  font-size: 1.79rem;
  margin-right: 10px;
}
.tab-search .tab-btn-wrapper.active .tab-btn {
  background-color: #ffdd00;
  color: #555;
}
.tab-search .tab-btn-wrapper.active .tab-btn i {
  color: #3c3c3c;
}
.tab-search .tab-btn-wrapper:first-child .tab-btn {
  border-radius: 15px 0 0 0;
  -webkit-border-radius: 15px 0 0 0;
  -moz-border-radius: 15px 0 0 0;
}
.tab-search .tab-btn-wrapper:last-child {
  margin-right: 0;
}
.tab-search .tab-btn-wrapper:last-child .tab-btn {
  border-radius: 0 15px 0 0;
  -webkit-border-radius: 0 15px 0 0;
  -moz-border-radius: 0 15px 0 0;
}
.tab-search-transparent {
  margin-bottom: 100px;
}
.tab-search-transparent .tab-btn-wrapper .tab-btn {
  background-color: rgba(12, 12, 12, 0.05);
}
.tab-search-transparent .tab-btn-wrapper .tab-btn i {
  color: #fff;
}
.tab-search-default .tab-btn-wrapper .tab-btn {
  background-color: #222222;
  color: #fff;
}
.tab-search-default .tab-btn-wrapper .tab-btn:hover .text {
  color: #555;
}
.tab-search-default .tab-btn-wrapper .tab-btn i {
  color: #ffdd00;
}
.tab-search-default .tab-content-bg {
  background-color: #ffdd00;
  position: relative;
}
.tab-search-long .tab-btn-wrapper span.xs {
  display: none;
}
.tab-search-condensed .nav-tabs {
  width: calc(100% + 1px);
  width: -webkit-calc(100% + 1px);
  width: -moz-calc(100% + 1px);
}
.tab-search-condensed .tab-btn-wrapper {
  width: calc(100% / 6);
  width: -webkit-calc(100% / 6);
  width: -moz-calc(100% / 6);
  margin: 0;
}
.tab-search-condensed .tab-btn-wrapper .tab-btn {
  background-color: #3c3c3c;
  color: #ffdd00;
}
.tab-search-condensed .tab-btn-wrapper .tab-btn:first-child,
.tab-search-condensed .tab-btn-wrapper .tab-btn:last-child {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.tab-search-condensed .tab-btn-wrapper .tab-btn i {
  color: #ffdd00;
  margin-right: 0;
}

/*----------  Footer  ----------*/

.footer-main {
  background-color: #121212;
  color: #8e8e8e;
  font-size: 12px;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  text-align: center;
  background-image: url('../images/background/bg-footer.jpg');
}
.footer-main.bg-transparent {
  background-image: none;
  background-color: transparent;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 70px;
}
.logo-footer img {
  margin: 0 auto;
  max-width: 150px;
}
footer .widget {
  text-align: left;
}
footer .widget .title-widget {
  font-size: 17px;
  color: #a5a5a5;
  text-transform: capitalize;
  margin-bottom: 30px;
}


/*----------  4.2. subscribe email  ----------*/
.subscribe-email {
  background-color: #ffdd00;
  color: #777777;
  padding: 30px 0;
}
.subscribe-email-wrapper {
  display: inline-block;
  width: 100%;
}
.subscribe-email-wrapper .subscribe-email-left {
  float: left;
}
.subscribe-email-wrapper .subscribe-email-right {
  float: right;
  margin-top: 15px;
}
.subscribe-email-title {
  color: #4d4d4d;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 500;
}
.subscribe-email-title .logo-text {
  font-size: 36px;
  font-weight: bold;
}
.subscribe-email-text {
  font-size: 16px;
  margin-bottom: 0;
  color: #666;
}
.form-subscribe-email {
  height: 40px;
  width: 270px;
  border-radius: 50px;
  background-color: #3c3c3c;
}
.form-subscribe-email .form-control {
  height: 40px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #DDEAF0;
  padding-left: 20px;
}
.form-subscribe-email .form-control:active,
.form-subscribe-email .form-control:focus {
  box-shadow: none;
}
.form-subscribe-email .btn-email {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  text-align: center;
  border: none;
  padding: 0;
  margin-right: 3px;
  background-color: #505050;
  color: #ffdd00;
  font-size: 14px;
}
.form-subscribe-email ::-webkit-input-placeholder {
  color: #6c6c6c;
}
.form-subscribe-email :-moz-placeholder {
  color: #6c6c6c;
}
.form-subscribe-email ::-moz-placeholder {
  color: #6c6c6c;
}
.form-subscribe-email :-ms-input-placeholder {
  color: #6c6c6c;
}

/*----------  4.3. Hyperlink  ----------*/
.hyperlink {
  background-color: #121212;
}
.hyperlink .slide-logo-wrapper {
  width: 80%;
  margin: 70px auto;
}
.hyperlink .social-footer {
  margin-bottom: 5px;
}
.hyperlink .name-company {
  margin-bottom: 20px;
}
.hyperlink.bg-transparent {
  background-color: transparent;
}
.hyperlink.bg-transparent .slide-logo-wrapper .logo-item .link {
  opacity: .5;
}
.hyperlink.bg-transparent .slide-logo-wrapper .logo-item .link:hover {
  opacity: 1;
}
.hyperlink.bg-transparent .social-footer .link {
  color: #b4b4b4 !important;
}
.hyperlink.bg-transparent .social-footer .link:hover {
  color: #2b2b2b !important;
}
.hyperlink.bg-transparent .name-company {
  color: #b4b4b4;
}
.slide-logo-wrapper .logo-item .link {
  opacity: .2;
  display: block;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.slide-logo-wrapper .logo-item .link:hover {
  opacity: 1;
}
.social-footer {
  text-align: center;
}
.social-footer ul {
  margin: 0;
}
.social-footer .link {
  font-size: 18px;
  color: #2b2b2b;
  padding: 0 8px;
}
.social-footer .link:hover {
  color: #fff;
}
.name-company {
  text-align: center;
  color: #2b2b2b;
  font-weight: 500;
  font-size: 12px;
}

