/**
*   Responsive helpers
*
*/

/*----------  Media screen max width 1199px  ----------*/
@media screen and (max-width: 1199px) {
  .tab-search-transparent .find-widget {
    padding: 50px;
  }
  .tab-search-long * button[type="submit"],
  .tab-search-long .find-young-widget button[type="submit"],
  .tab-search-long .find-main-widget button[type="submit"] {
    position: relative;
    width: 170px;
    margin-top: 30px;
  }
  .tab-search-long .place {
    width: calc((100% - 24px) * 34 / 100);
    width: -webkit-calc((100% - 24px) * 34 / 100);
    width: -moz-calc((100% - 24px) * 34 / 100);
  }
  .tab-search-long .input-daterange {
    width: calc((100% - 24px) * 42 / 100);
    width: -webkit-calc((100% - 24px) * 42 / 100);
    width: -moz-calc((100% - 24px) * 42 / 100);
  }
  .tab-search-long .count {
    width: calc((100% - 24px) * 12 / 100);
    width: -webkit-calc((100% - 24px) * 12 / 100);
    width: -moz-calc((100% - 24px) * 12 / 100);
  }
  .tab-search-long .find-main-widget .count {
    width: calc((100% - 24px) * 12 / 100);
    width: -webkit-calc((100% - 24px) * 12 / 100);
    width: -moz-calc((100% - 24px) * 12 / 100);
  }
  .tab-search-long .find-young-widget .date,
  .tab-search-long .find-young-widget .place,
  .tab-search-long .find-main-widget .date,
  .tab-search-long .find-main-widget .place {
    width: calc((100% - 24px) * 38 / 100);
    width: -webkit-calc((100% - 24px) * 38 / 100);
    width: -moz-calc((100% - 24px) * 38 / 100);
  }
  .tab-search-long .find-main-widget .input-daterange,
  .tab-search-long .find-main-widget .place {
    width: calc((100% - 16px) * 40 / 100);
    width: -webkit-calc((100% - 16px) * 40 / 100);
    width: -moz-calc((100% - 16px) * 40 / 100);
  }
  .tab-search-condensed .find-widget {
    padding: 40px 50px;
  }
  .social-widget ul {
    margin-left: 0;
  }
  .social-widget ul li {
    width: calc(100% / 5);
    width: -webkit-calc(100% / 5);
    width: -moz-calc(100% / 5);
  }
}
/*----------  Media screen max width 1024px  ----------*/
@media screen and (max-width: 1024px) {
  .navigation .nav-links .main-menu {
    margin: 0 18px;
  }
  .video-thumbnail {
    height: 320px;
  }
  .video-thumbnail .video-button-play {
    line-height: 65px;
    font-size: 24px;
    width: 65px;
    height: 65px;
    margin-top: -32px;
    margin-left: -32px;
  }
  .videos.layout-1 .video-thumbnail {
    bottom: -80px;
  }
  .videos.layout-2 .video-thumbnail {
    height: 400px;
  }
  .page-title-wrapper .captions {
    font-size: 80px;
    line-height: 80px;
  }
  .page-title-wrapper .price .number {
    font-size: 50px;
  }
  .page-title-wrapper .price .unit {
    font-size: 24px;
  }
  .subscribe-email-wrapper .subscribe-email-right {
    float: left;
  }

}
/*---------- Media screen max width 991px  ----------*/
@media screen and (max-width: 991px) {
  .tab-search-transparent .find-widget {
    padding: 40px;
  }
  .tab-search-condensed .find-widget {
    padding: 40px 70px;
  }
  .col-1 {
    width: 50%;
    float: left;
    margin-bottom: 0;
  }
  .col-1:nth-child(odd) {
    padding-right: 15px;
  }
  .col-1:nth-child(even) {
    padding-left: 15px;
  }
  .col-1 .widget:last-child {
    margin-bottom: 0;
  }
  .col-2 {
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
  }
  .col-2:last-child {
    margin-bottom: 0;
  }
  .col-2 > .widget:last-child {
    margin-bottom: 0;
  }
  .social-widget ul {
    margin-left: 0;
  }
  .social-widget ul li {
    width: calc(100% / 6);
    width: -webkit-calc(100% / 6);
    width: -moz-calc(100% / 6);
  }

}
/*----------  Media screen max width 768px  ----------*/
@media screen and (max-width: 768px) {
  .tab-search-transparent {
    margin-bottom: 80px;
  }
  .padding-bottom {
    padding-bottom: 80px;
  }
  .padding-top {
    padding-top: 80px;
  }
  .padding-top-140 {
    padding-top: 120px;
  }
  .padding-bottom-70 {
    padding-bottom: 50px;
  }
  .margin-top70 {
    margin-top: 50px;
  }
  /* ---------------- Header ---------------- */
  .header-main {
    text-align: center;
  }
  .header-main .navbar-header {
    float: none;
  }
  .wrapper-mobile-nav {
    display: block;
  }
  .wrapper-mobile-nav .header-topbar {
    padding: 19px 0;
  }
  .hamburger-menu {
    display: table;
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -20px;
  }
  .navigation {
    display: none;
  }
  .logo-footer {
    margin-bottom: 50px;
  }
  .videos.layout-1 .video-wrapper {
    text-align: center;
    padding-bottom: 50px;
  }
  .videos.layout-1 .video-thumbnail {
    width: 100%;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    bottom: 0;
  }
  .text-salebox .text-left {
    vertical-align: middle;
  }
  .text-salebox .text-left .sale-box .number {
    font-size: 70px;
  }
  .text-salebox .text-left .sale-box .sup-1 {
    font-size: 30px;
  }
  .text-salebox .text-left .sale-box .sup-2 {
    font-size: 26px;
    bottom: 7px;
  }
  .text-salebox .text-left .sale-box .text-sale {
    font-size: 60px;
  }
  .videos.layout-2 {
    padding-bottom: 80px;
  }
  .videos.layout-2 .video-thumbnail {
    top: 0;
  }
  .videos.layout-2 .text {
    margin-bottom: 50px;
  }
  .page-title-wrapper .captions {
    font-size: 65px;
    line-height: 65px;
  }
  .page-title-wrapper .price {
    display: none;
  }
  .title-style-2 {
    margin-bottom: 40px;
  }
  .special-offer .title-style-2 {
    margin-bottom: 20px;
  }
  .page-title-wrapper .page-title-content {
    bottom: -8px;
  }
  .tab-search .tab-btn-wrapper .tab-btn span {
    display: none;
  }
  .tab-search .tab-btn-wrapper .tab-btn i {
    margin-right: 0;
  }
  .tab-search-condensed .nav-tabs {
    width: 100%;
  }
  .tab-search-condensed .find-widget {
    padding: 40px 50px;
  }
  .main-right {
    float: left;
  }
  .tab-search .tab-btn-wrapper .tab-btn span {
    display: none;
  }
  .tab-search .tab-btn-wrapper .tab-btn i {
    margin-right: 0;
  }
  .tab-search-condensed .nav-tabs {
    width: 100%;
  }
  .tab-search-condensed .find-widget {
    padding: 40px 50px;
  }
  .wrapper-expert {
    margin-bottom: 80px;
  }
  .wrapper-expert .content-expert:nth-child(even) {
    margin-top: 0;
  }
  .wrapper-expert .slick-dots {
    bottom: -50px;
  }
  .wrapper-expert .slick-dots li.slick-active button {
    border: 1px solid #3498db;
  }
  .wrapper-expert .slick-dots li button {
    border: 1px solid #c3c3c3;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin: 0 0 10px 0;
    display: block;
  }
  .wrapper-expert .slick-dots li.slick-active button:before {
    color: #3498db;
  }
  .wrapper-expert .slick-dots li button:before {
    width: 16px;
    height: 16px;
    font-size: 8px;
    line-height: 18px;
    color: #c3c3c3;
    opacity: 1;
  }
  .item-blog-detail .blog-text .blog-content {
    margin-bottom: 50px;
  }
  .margin-bottom {
    margin-bottom: 80px;
  }

}
/*----------  Media screen max width 767px  ----------*/
@media screen and (max-width: 767px) {
  .menu-mobile .nav-links {
    margin: 0;
  }
  .menu-mobile .main-menu {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .page-banner.homepage-default {
    height: 100%;
  }
  .homepage-banner-warpper {
    min-height: 667px;
  }
  .homepage-default .group-title {
    margin-bottom: 0;
  }
  .homepage-default .group-title .title {
    font-size: 80px;
  }
  .header-main .logo {
    line-height: 80px;
  }
  .wrapper-mobile-nav .header-topbar {
    padding: 14px 0;
  }
  .page-banner {
    height: 450px;
  }
  .hyperlink .slide-logo-wrapper {
    margin: 50px auto;
  }
  .page-banner,
  .footer-main {
    background-attachment: scroll;
  }
  .tab-search .count {
    width: calc((100% - 8px) / 2);
    width: -webkit-calc((100% - 8px) / 2);
    width: -moz-calc((100% - 8px) / 2);
  }
  .tab-search .find-cruises-widget .count,
  .tab-search .find-tours-widget .count,
  .tab-search .find-transfer-widget .count {
    width: calc((100% - 8px) / 2);
    width: -webkit-calc((100% - 8px) / 2);
    width: -moz-calc((100% - 8px) / 2);
  }
  .tab-search .find-car-widget .car-count,
  .tab-search .find-car-widget .input-daterange,
  .tab-search .find-car-widget .place,
  .tab-search .find-cruises-widget .place,
  .tab-search .find-cruises-widget .time-count,
  .tab-search .find-tours-widget .date,
  .tab-search .find-tours-widget .place,
  .tab-search .find-transfer-widget .date,
  .tab-search .find-transfer-widget .place,
  .tab-search .input-daterange,
  .tab-search .place {
    width: 100%;
  }
  .tab-search-long .text-input .text-box-wrapper {
    margin-top: 20px;
  }
  .tab-search-long .text-input > .text-box-wrapper:first-child {
    margin-top: 0;
  }
  .tab-search .count {
    width: calc((100% - 8px) / 2);
    width: -webkit-calc((100% - 8px) / 2);
    width: -moz-calc((100% - 8px) / 2);
  }
  .tab-search .find-main-widget .count {
    width: calc((100% - 8px) / 2);
    width: -webkit-calc((100% - 8px) / 2);
    width: -moz-calc((100% - 8px) / 2);
  }
  .tab-search .find-young-widget .date,
  .tab-search .find-young-widget .place,
  .tab-search .find-main-widget .date,
  .tab-search .find-main-widget .place,
  .tab-search .input-daterange,
  .tab-search .place {
    width: 100%;
  }
  .tab-search-long .text-input .text-box-wrapper {
    margin-top: 20px;
  }
  .tab-search-long .text-input > .text-box-wrapper:first-child {
    margin-top: 0;
  }

}
/*----------  Media screen max width 600px  ----------*/
@media screen and (max-width: 600px) {
  .tab-search-transparent {
    margin-bottom: 60px;
  }
  .menu-mobile .main-menu {
    font-size: 14px;
  }
  .hamburger-menu {
    left: 20px;
  }
  .padding-bottom {
    padding-bottom: 60px;
  }
  .padding-top {
    padding-top: 60px;
  }
  .padding-bottom-70 {
    padding-bottom: 40px;
  }
  .padding-top-140 {
    padding-top: 100px;
  }
  .margin-top70 {
    margin-top: 40px;
  }
  video {
    width: 150% !important;
    margin-left: -100px !important;
  }
  footer .widget .title-widget {
    margin-bottom: 20px;
  }
  .hyperlink .slide-logo-wrapper {
    margin: 40px auto;
  }
  .videos.layout-1 .video-thumbnail {
    width: 100%;
    height: 300px;
    margin-bottom: 60px;
  }
  .videos.layout-2 {
    padding-bottom: 60px;
  }
  .videos.layout-2 .video-thumbnail {
    height: 360px;
  }
  .videos.layout-2 .text {
    margin-left: 0;
    margin-right: 0;
  }
  .page-title-wrapper .captions {
    font-size: 50px;
    line-height: 50px;
    margin-top: 10px;
  }
  .page-title-wrapper .breadcrumb li .link.home {
    font-size: 18px;
  }
  .subscribe-email-title {
    font-size: 18px;
  }
  .subscribe-email-title .logo-text {
    font-size: 26px;
  }
  .subscribe-email-text {
    font-size: 14px;
  }
  .tab-search-condensed .find-widget {
    padding: 40px;
  }

}
/*----------  1.7. Media screen max width 480px  ----------*/
@media screen and (max-width: 480px) {
  .margin-bottom {
    margin-bottom: 30px;
  }
  .group-title .sub-title .icons {
    font-size: 24px;
  }
  .group-title .main-title {
    font-size: 24px;
  }
  .hamburger-menu {
    left: 15px;
  }
  .wrapper-mobile-nav .header-topbar {
    padding: 15px 0;
  }
  .header-main .navbar-header {
    float: right;
  }
  .header-01 .header-main .navbar-header {
    float: right;
  }
  .header-01 .header-main .logo .header-logo img {
    max-width: 150px;
  }
  .header-main .logo .header-logo img {
    max-width: 150px;
  }
  .homepage-default .group-title {
    text-align: center;
  }
  .homepage-default .group-title .title {
    font-size: 60px;
  }
  .menu-mobile .icons-dropdown {
    width: 50px;
  }
  .page-title-wrapper .breadcrumb li .link {
    line-height: 28px;
  }
  .page-title-wrapper .breadcrumb li .link.home {
    font-size: 16px;
  }
  .page-title-wrapper .captions {
    margin: 10px 0 0 0;
    font-size: 50px;
    line-height: 50px;
  }
  .videos.layout-1 .sub-title {
    font-size: 16px;
  }
  .videos.layout-1 .sub-title strong {
    font-size: 20px;
  }
  .videos.layout-1 .title {
    font-size: 36px;
  }
  .videos.layout-1 .video-thumbnail {
    height: 290px;
  }
  .a-fact-image-wrapper {
    min-height: 280px;
  }
  .slick-slide img {
    width: 100%;
  }
  .videos.layout-2 .title {
    font-size: 30px;
  }
  .videos.layout-2 .video-thumbnail {
    height: 290px;
  }
  .col-1 {
    margin-bottom: 30px;
    width: 100%;
  }
  .col-1:last-child {
    margin-bottom: 0;
  }
  .col-1:nth-child(even),
  .col-1:nth-child(odd) {
    padding: 0;
  }
  .categories-widget .content-widget {
    padding-right: 10px;
  }
  .find-widget .ffw-radio-selection {
    text-align: left;
    margin: 0;
    width: 100%;
  }
  .find-widget .ffw-radio-selection span.ffw-radio-btn-wrapper {
    display: block;
    margin-top: 10px;
  }
  .find-widget .ffw-radio-selection span.ffw-radio-btn-wrapper:first-child {
    margin-top: 0;
  }
  .tab-search .nav-tabs {
    display: block;
  }
  .tab-search-transparent .tab-btn-wrapper .tab-btn {
    height: 50px;
    line-height: 50px;
  }
  .tab-search-transparent .tab-btn-wrapper:first-child .tab-btn {
    border-radius: 0 15px 0 0;
    -webkit-border-radius: 0 15px 0 0;
    -moz-border-radius: 0 15px 0 0;
  }
  .tab-search-transparent .tab-btn-wrapper:last-child .tab-btn {
    border-radius: 0 0 15px 0;
    -webkit-border-radius: 0 0 15px 0;
    -moz-border-radius: 0 0 15px 0;
  }
  .tab-search-transparent .nav-tabs > li {
    float: none;
    margin-left: auto;
    margin-right: 0;
    width: 50px;
  }
  .tab-search-transparent .tab-content {
    margin-right: 50px;
  }
  .tab-search-transparent .find-widget {
    padding: 40px 30px;
  }
  .tab-search-default .nav-tabs.slick-slider {
    margin-bottom: 0;
  }
  .tab-search-default .find-widget {
    padding: 30px 0;
  }
  .tab-search-default .text-input {
    margin-top: 0;
  }
  .tab-search-default .ffw-radio-selection {
    margin-bottom: 20px;
  }
  .tab-search-default .tab-btn-wrapper {
    width: 100%;
    margin-right: 0;
  }
  .tab-search-default .tab-btn-wrapper:first-child .tab-btn,
  .tab-search-default .tab-btn-wrapper:last-child .tab-btn,
  .tab-search-default .tab-btn-wrapper .tab-btn {
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
  }
  .tab-search-default .tab-btn-wrapper .tab-btn i {
    font-size: 2.14rem;
  }
  .tab-search-default .tab-btn-wrapper .tab-btn span.xs {
    font-size: 1.29rem;
    vertical-align: baseline;
  }
  .tab-search-default .tab-btn-wrapper.active .tab-btn {
    background-color: #222;
  }
  .tab-search-default .tab-btn-wrapper.active .tab-btn i {
    color: #3498db;
  }
  .tab-search-default .slick-prev {
    left: 20px;
    z-index: 1;
  }
  .tab-search-default .slick-prev:before {
    content: '\f104';
    font-family: FontAwesome;
  }
  .tab-search-default .slick-next {
    right: 20px;
  }
  .tab-search-default .slick-next:before {
    content: '\f105';
    font-family: FontAwesome;
  }
  .tab-search-condensed .find-widget {
    padding: 30px;
  }
  .tab-search-condensed .find-widget .title-widgets {
    margin-bottom: 20px;
  }
  .tab-search-condensed .find-widget .text-input {
    margin-top: 20px;
  }
  .tab-search-condensed .find-widget .text-box-wrapper.half.from,
  .tab-search-condensed .find-widget .text-box-wrapper.half.outer,
  .tab-search-condensed .find-widget .text-box-wrapper.half.to {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .tab-search-condensed .find-widget .text-box-wrapper.half.to {
    margin-top: 20px;
  }
  .tab-search-condensed .input-daterange .text-box-wrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .tab-search-condensed .tab-btn-wrapper .tab-btn {
    height: 50px;
    line-height: 50px;
  }
  .tab-search-condensed .nav-tabs > li {
    float: none;
    margin-left: auto;
    margin-right: 0;
    width: 50px;
  }
  .tab-search-condensed .tab-content {
    margin-right: 50px;
  }
  .col-1 {
    margin-bottom: 30px;
    width: 100%;
  }
  .col-1:last-child {
    margin-bottom: 0;
  }
  .col-1:nth-child(even),
  .col-1:nth-child(odd) {
    padding: 0;
  }
  .categories-widget .content-widget {
    padding-right: 10px;
  }
  .find-widget .ffw-radio-selection {
    text-align: left;
    margin: 0;
    width: 100%;
  }
  .find-widget .ffw-radio-selection span.ffw-radio-btn-wrapper {
    display: block;
    margin-top: 10px;
  }
  .find-widget .ffw-radio-selection span.ffw-radio-btn-wrapper:first-child {
    margin-top: 0;
  }
  .tab-search .nav-tabs {
    display: block;
  }
  .tab-search-transparent .tab-btn-wrapper .tab-btn {
    height: 50px;
    line-height: 50px;
  }
  .tab-search-transparent .tab-btn-wrapper:first-child .tab-btn {
    border-radius: 0 15px 0 0;
    -webkit-border-radius: 0 15px 0 0;
    -moz-border-radius: 0 15px 0 0;
  }
  .tab-search-transparent .tab-btn-wrapper:last-child .tab-btn {
    border-radius: 0 0 15px 0;
    -webkit-border-radius: 0 0 15px 0;
    -moz-border-radius: 0 0 15px 0;
  }
  .tab-search-transparent .nav-tabs > li {
    float: none;
    margin-left: auto;
    margin-right: 0;
    width: 50px;
  }
  .tab-search-transparent .tab-content {
    margin-right: 50px;
  }
  .tab-search-transparent .find-widget {
    padding: 40px 30px;
  }
  .tab-search-default .nav-tabs.slick-slider {
    margin-bottom: 0;
  }
  .tab-search-default .find-widget {
    padding: 30px 0;
  }
  .tab-search-default .text-input {
    margin-top: 0;
  }
  .tab-search-default .ffw-radio-selection {
    margin-bottom: 20px;
  }
  .tab-search-default .tab-btn-wrapper {
    width: 100%;
    margin-right: 0;
  }
  .tab-search-default .tab-btn-wrapper:first-child .tab-btn,
  .tab-search-default .tab-btn-wrapper:last-child .tab-btn,
  .tab-search-default .tab-btn-wrapper .tab-btn {
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
  }
  .tab-search-default .tab-btn-wrapper .tab-btn i {
    font-size: 2.14rem;
  }
  .tab-search-default .tab-btn-wrapper .tab-btn span.xs {
    font-size: 1.29rem;
    vertical-align: baseline;
  }
  .tab-search-default .tab-btn-wrapper.active .tab-btn {
    background-color: #222;
  }
  .tab-search-default .tab-btn-wrapper.active .tab-btn i {
    color: #3498db;
  }
  .tab-search-default .slick-prev {
    left: 20px;
    z-index: 1;
  }
  .tab-search-default .slick-prev:before {
    content: '\f104';
    font-family: FontAwesome;
  }
  .tab-search-default .slick-next {
    right: 20px;
  }
  .tab-search-default .slick-next:before {
    content: '\f105';
    font-family: FontAwesome;
  }
  .tab-search-condensed .find-widget {
    padding: 30px;
  }
  .tab-search-condensed .find-widget .title-widgets {
    margin-bottom: 20px;
  }
  .tab-search-condensed .find-widget .text-input {
    margin-top: 20px;
  }
  .tab-search-condensed .find-widget .text-box-wrapper.half.from,
  .tab-search-condensed .find-widget .text-box-wrapper.half.outer,
  .tab-search-condensed .find-widget .text-box-wrapper.half.to {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .tab-search-condensed .find-widget .text-box-wrapper.half.to {
    margin-top: 20px;
  }
  .tab-search-condensed .input-daterange .text-box-wrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .tab-search-condensed .tab-btn-wrapper .tab-btn {
    height: 50px;
    line-height: 50px;
  }
  .tab-search-condensed .nav-tabs > li {
    float: none;
    margin-left: auto;
    margin-right: 0;
    width: 50px;
  }
  .tab-search-condensed .tab-content {
    margin-right: 50px;
  }
}
/*----------  Media screen max width 414px  ----------*/
@media screen and (max-width: 414px) {
  .menu-mobile {
    background-color: #3498db;
    text-align: center;
  }
  footer .col-md-2,
  footer .col-md-3,
  footer .col-md-6,
  footer .col-md-5 {
    width: 100%;
  }
  footer .widget {
    margin-bottom: 30px;
  }
  footer .destination-widget {
    margin-bottom: 0;
  }
  .videos.layout-1 .title {
    font-size: 30px;
  }
  .videos.layout-1 .video-thumbnail {
    height: 260px;
  }
  .contact-box {
    padding: 30px;
  }
  .videos.layout-2 .title {
    font-size: 26px;
  }
  .videos.layout-2 .video-thumbnail {
    height: 260px;
  }
  .title-style-2 {
    font-size: 22px;
  }
  .title-style-2:after {
    left: 0;
    right: 0;
    bottom: -10px;
  }
  .group-title .sub-title .text {
    font-size: 14px;
  }
  .group-title .sub-title .icons {
    font-size: 18px;
  }
  .group-title .sub-title .icons:after {
    bottom: 4px;
  }
  .group-title .main-title {
    font-size: 22px;
  }
  .datepicker {
    width: 280px;
  }
  .datepicker .table-condensed {
    width: 100%;
  }
}
/*----------  1.9. Media screen max width 380px  ----------*/
@media screen and (max-width: 380px) {
  .wrapper-mobile-nav {
    width: 82%;
  }
  .show-nav .wrapper-content {
    transform: translate3d(82%, 0, 0);
    -webkit-transform: translate3d(82%, 0, 0);
    -moz-transform: translate3d(82%, 0, 0);
    -ms-transform: translate3d(82%, 0, 0);
    -o-transform: translate3d(82%, 0, 0);
  }
  .group-button .btn {
    display: block;
  }
  .group-button .btn:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .videos.layout-2 .title {
    font-size: 22px;
  }
  .videos.layout-2 .video-thumbnail {
    height: 240px;
  }
  .videos.layout-1 .video-thumbnail {
    height: 240px;
  }
  .tab-search-transparent .find-widget {
    padding: 30px 20px;
  }
  .tab-search-condensed .find-widget {
    padding: 20px;
  }
  .social-widget ul {
    margin-left: 0;
  }
  .social-widget ul li {
    width: calc(100% / 5);
    width: -webkit-calc(100% / 5);
    width: -moz-calc(100% / 5);
  }
  .tab-search-transparent .find-widget {
    padding: 30px 20px;
  }
  .tab-search-condensed .find-widget {
    padding: 20px;
  }
  .social-widget ul {
    margin-left: 0;
  }
  .social-widget ul li {
    width: calc(100% / 5);
    width: -webkit-calc(100% / 5);
    width: -moz-calc(100% / 5);
  }
}
/*----------  Media screen max width 320px  ----------*/
@media screen and (max-width: 320px) {
  .videos.layout-1 .video-thumbnail,
  .videos.layout-2 .video-thumbnail {
    height: 200px;
  }
  .find-widget .input-daterange .text-box-wrapper {
    width: 100%;
  }
  .datepicker-dropdown.datepicker-orient-right:before {
    right: 54px !important;
  }
  .datepicker-dropdown.datepicker-orient-right:after {
    right: 55px !important;
  }

}
